[submodule "task-1"]
	path = task-1
	url = https://github.com/School-of-Solana/task1-hutomosaktikartiko
[submodule "task-2"]
	path = task-2
	url = https://github.com/School-of-Solana/task2-hutomosaktikartiko
[submodule "task-3"]
	path = task-3
	url = https://github.com/School-of-Solana/task3-hutomosaktikartiko
[submodule "task-4"]
	path = task-4
	url = https://github.com/School-of-Solana/task4-hutomosaktikartiko
[submodule "solana-program"]
	path = solana-program
	url = https://github.com/School-of-Solana/program-hutomosaktikartiko.git
